# Eclipse
.project
.classpath
.settings/

#maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

out/

# Gradel
.gradle/
build/

# IDEA
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# jrebel文件
rebel.xml

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
.flattened-pom.xml
